# Data Wrangling
The goal of this notebook is to wrangle the Ethereum-USD Coin pricing data into a workable format to then feed to machine learning algorithms further down the road.

In [24]:
import pandas as pd
from datetime import datetime

### Load data into pandas and some preliminary data analasys

In [13]:
df = pd.read_parquet('../data/raw/ETH-USDC.parquet')
df.reset_index(drop=False, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1988921 entries, 0 to 1988920
Data columns (total 10 columns):
 #   Column                        Dtype
---  ------                        -----
 0   open_time                     datetime64[ns]
 1   open                          float32
 2   high                          float32
 3   low                           float32
 4   close                         float32
 5   volume                        float32
 6   quote_asset_volume            float32
 7   number_of_trades              uint16
 8   taker_buy_base_asset_volume   float32
 9   taker_buy_quote_asset_volume  float32
dtypes: datetime64[ns](1), float32(8), uint16(1)
memory usage: 79.7 MB

Do we have any Nan Values?

In [14]:
df.count()

open_time                       1988921
open                            1988921
high                            1988921
low                             1988921
close                           1988921
volume                          1988921
quote_asset_volume              1988921
number_of_trades                1988921
taker_buy_base_asset_volume     1988921
taker_buy_quote_asset_volume    1988921
dtype: int64

No missing Values, atleast no Nan Values.

In [15]:
df.head(2)

,open_time,open,high,low,close,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2018-12-15 03:21:00,84.190002,84.190002,84.190002,84.190002,0.13448,11.321871,1,0.13448,11.321871
1,2018-12-15 03:22:00,84.190002,84.190002,84.190002,84.190002,0.00000,0.000000,0,0.00000,0.000000